<!DOCTYPE html>

<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700" rel="stylesheet" />
	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" />
</head>