body {
	font: .875em/1.5 "Fira Sans", "맑은 고딕", "Malgun Gothic", sans-serif;
	color: #4d4d4d;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: #111;
}

h1, h2, h3, h4, h5,h6 {
	color: #111;
}