/* container */
#wrapper {
  margin: 0 32px;
}



/* header */
#header {
  text-align: center;

  h1 {
    width: 100%;
    max-width: 500px;
    margin: 120px auto;
    font-size: 38px;
    font-weight: 900;
    font-family: 'Bree Serif', serif;
    line-height: 1.45;
  }
}



/* footer */
#footer {
  margin: 40px auto;
  text-align: center;

  ul {
    margin: 20px 0 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;

    a {
      color: #ddd;

      &:hover {
        color: #bbb;
      }
    }
  }
}



/* contents */
#contents {
  text-align: center;
}



/* grid */
.grid {
  margin: 0 auto;
  max-width: 1180px;
}
.grid-sizer,
.grid-item {
  width: 100%;
}
.grid-item {
  float: left;
  margin-bottom: 40px;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;

  a {
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    img {
      display: block;
      max-width: 100%;

      + span {
        display: block;
        position: absolute;
        z-index: 2;
        margin-top: -1px;
        height: 1px;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.06);
      }
    }
    .post-info {
      padding: 10px 12px;
      background: #fff;
      text-align: left;

      span {
        display: block;
      }

      .post-title {
        font-size: 13px;
        color: #4d4d4d;
        margin-bottom: 4px;
      }
      .post-meta {
        font-size: 12px;
        color: #9d9d9d;
        line-height: 1.3;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
      box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    }

    &:hover {
      -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.1);
      box-shadow: 0 4px 10px rgba(0,0,0,.1);
      -webkit-transform: scale(1.025);
      transform: scale(1.025);
    }
  }

}



/* permalink page */
#back {
    display: none;
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 40pt;
}

.post {
  width: 100%;
  max-width: 880px;
  margin: 0 auto 40px;
}

.post-header {
  margin: 32px 0;
  text-align: left;

  .post-title {
    margin: 0 0 8px;
    font-size: 32px;
    font-family: "Bree Serif", sans-serif;
    line-height: 1.2;
    color: #000;
  }
  .post-meta {
    margin: 0;
    font-size: 14px;
    color: #aaa;
  }
}


.post-content {
  text-align: left;
  font-size: 16px;

  img {
    display: block;
    width: 100%;
    margin: 0 0 20px;
  }

  a {
    padding: 1px;
    margin: -1px;
    background: #eee;

    &:hover {
      background: #ddd;
    }
  }
}
