@media screen and (min-width: 568px) {

  /* grid */
  .grid-sizer,
  .grid-item {
    width: 50%;
  }

  .grid-item .item {
    padding: 0 20px;
  }

}


@media screen and (min-width: 768px) {

  /* grid */
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }


  /* permalink page */
  #back {
    display: block;
  }

  .post {
    width: 80%;
  }

  .post-header {
    margin: 60px 0 40px;

    .post-title {
      font-size: 38px;
    }
    .post-date {
      font-size: 16px;
    }
  }

}