/* permalink page */
#back {
  display: none;
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 40pt;

  @media screen and (min-width: $size-large) {
    display: block;
  }
}

.post {
  width: 100%;
  max-width: 880px;
  margin: 0 auto 40px;

  @media screen and (min-width: $size-large) {
    width: 80%;
  }
}

.post-header {
  margin: 32px 0;
  text-align: left;

  @media screen and (min-width: $size-large) {
    margin: 60px 0 40px;
  }

  .post-title {
    margin: 0 0 8px;
    font-size: 32px;
    font-family: "Bree Serif", sans-serif;
    line-height: 1.2;
    color: $color-black;

    @media screen and (min-width: $size-large) {
      font-size: 38px;
    }
  }

  .post-meta {
    margin: 0;
    font-size: 14px;
    color: $color-medium;

    @media screen and (min-width: $size-large) {
      font-size: 16px;
    }
  }
}


.post-content {
  text-align: left;
  font-size: 16px;

  img {
    display: block;
    width: 100%;
    margin: 0 0 20px;
  }

  a {
    padding: 1px;
    margin: -1px;
    background: $color-bright;

    &:hover {
      background: $color-light;
    }
  }
}