/* permalink page */
#back {
  display: none;
  position: fixed;
  top: 50px;
  left: 40px;
  font-size: 40pt;
  line-height: 62px;
  text-align: center;
  width: 64px;
  height: 64px;

  &::after {
    visibility: hidden;
    content: '';
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 28px;
    background: $color-bright;
    transform: scale(0,0);
    transition: all .2s;
  }

  &:hover {

    &::after {
        visibility: visible;
        transform: scale(1,1);
    }
  }

  @media screen and (min-width: $size-large) {
    display: block;
  }
}

.post {
  width: 100%;
  max-width: 880px;
  margin: 0 auto 40px;

  @media screen and (min-width: $size-large) {
    width: 80%;
  }
}

.post-header {
  margin: 32px 0;
  text-align: left;

  @media screen and (min-width: $size-large) {
    margin: 60px 0 40px;
  }

  .post-title {
    margin: 0 0 8px;
    font-size: 32px;
    font-family: "Bree Serif", sans-serif;
    line-height: 1.2;
    color: $color-black;

    @media screen and (min-width: $size-large) {
      font-size: 38px;
    }
  }

  .post-meta {
    margin: 0;
    font-size: 14px;
    color: $color-medium;

    @media screen and (min-width: $size-large) {
      font-size: 16px;
    }
  }
}


.post-content {
  text-align: left;
  font-size: 16px;

  h2 {
    margin: 2rem 0 1rem;
  }

  h3 {
    margin: 1rem 0;
  }

  p {
    margin: 1rem 0;
  }

  img {
    display: block;
    width: 100%;
  }

  a {
    padding: 1px 3px;
    margin: -1px;
    background: $color-accent;
    transition: background .15s;

    &:hover {
      background: $color-accent-hover;
    }
  }
}