{% include head.html %}

<body>

  <div id="wrapper">
    
    {% include header.html %}

    <div id="contents">
      {{ content }}
    </div>

    {% include footer.html %}
  
  </div>

  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script>
    (function () {

      var $grid = $('.grid').masonry({
        columnWidth: '.grid-sizer',
        itemSelector: '.grid-item',
        percentPosition: true
      });

      $grid.imagesLoaded().progress( function() {

        $('.grid-item').css({
          opacity: 1
        });

        // masonry
        $grid.masonry();

      });

    })();
  </script>
  
</body>

</html>
